body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#buttonContainer{
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-bottom: 25px;
}

button{
    padding: 10px;
}

#Container{
    box-sizing: border-box;
    border: 10px solid brown;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    width: 600px;
    height: 600px;
    
}
